body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: Arial, sans-serif;
}

.admin-container {
    text-align: center;
}

.admin-container h1 {
    font-size: 5em;
    color: #333;
}